{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
   {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
   
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-setting" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">Delivery date and time settings</a></li>
            <li><a href="#tab-store" data-toggle="tab">Delivery Date & Time</a></li>
         
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                        <select name="time_slot_status" id="status_wallet" class="form-control" >
                            {% if time_slot_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                            {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                            
               <div class="form-group">
                    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_start_time}}">{{Shop_start_time}}</span></label>

                    <div class="col-sm-10">
                        <input type="text" class="timepicker1 form-control" id="start_time" name="{{start_time}}" value="{% if config_start_time %} {{ config_start_time }} {% endif %}"
                    </div>

                  </div>



                  <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title=" {{ help_end_time}} ">Delivery end time </span></label>
                    <div class="col-sm-10">
                        <input type="text" name="{{ end_time }}" id="end_time" class="timepicker1 form-control" value=
                               {% if config_end_time %}

                                {{ config_end_time }}
                                {% endif %}>
                    </div>
                  </div>

                  <div class="form-group">

                            <label class="col-sm-2 control-label" >Date Range</label>

                       </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="{{ help_date_range_from }}">From </span></label>
                    <div class="col-sm-10">
                        <input type="text" name="date_range_from" id="date_range_from" class="datepickertime1 form-control" value=
                               {% if date_range_from %}                           
                                {{ date_range_from }}
                                {% endif %}>
                    </div>
                  </div>     


                    <div class="form-group">
                        <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="{{ help_date_range_to}}">To </span></label>
                    <div class="col-sm-10">
                        <input type="text" name="date_range_to" class="datepickertime1 form-control" value=
                               {% if date_range_to %}
                               {{ date_range_to }}
                                {% endif %}>
                    </div>
                  </div>  


                  <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="{{ help_slot_duration}} ">Slot interval/Slot Duration</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="{{Intervals}}" class="form-control" value={% if intervals %} {{ intervals}} {% endif %} >
                    </div>
                  </div>     

                  <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="{{ help_lead_time}} ">Lead time(to write in hours)</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="{{ lead_time }}" class="form-control" value= {% if delivery_starts %} {{ delivery_starts }} {% endif %}>
                    </div>
                  </div>     

                  <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="{{ help_slot_display }}">Number of slots display</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="{{ numberofslots }}" class="form-control" value={% if showSlots %}  {{showSlots}} {% endif %}>
                    </div>
                  </div>   

                  <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="<?php echo $help_maximum_order_per_slot?>">Maximum order per slot</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="{{ order_per_slot }}" class="form-control" value= {% if order_slot %} {{ order_slot }} {% endif %}>
                    </div>
                  </div>  

                  <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="{{ help_time_format }}">Time Format</span></label>
                    <div class="col-sm-10">

                        <select class="form-control" name="time_format">
                            {% if time_format=="12 ( AM/PM and O clock )" %}

                            <option selected="selected">12 ( AM/PM and O clock )</option>
                            {% else %}
                            <option>24 ( Military/Continental Time )</option>{% endif %}
                            {% if time_format=="24 ( Military/Continental Time )" %}
                            <option selected="selected">24 ( Military/Continental Time )</option>
                            {% else %}
                            <option>12 ( AM/PM and O clock )</option>{% endif %}

                            {% if time_format=="" %}

                            <option>12 ( AM/PM and O clock )</option>
                            <option>24 ( Military/Continental Time )</option>

                           {% endif %}

                        </select>
                    </div>
                  </div>  



                     <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="<?php echo $help_time_format?>">Date Format</span></label>
                    <div class="col-sm-10">

                        <select class="form-control" name="date_format">
                            {% if date_format=="yy-mm-dd" %}
                            <option selected="selected">yy-mm-dd</option>
                            {% else %}
                            <option>dd-mm-yy</option>{% endif %}
                            {% if date_format=="dd-mm-yy" %}
                            <option selected="selected">dd-mm-yy</option>
                            {% else %}
                            <option>yy-mm-dd</option>{% endif %}
                            {% if date_format=="" %}                        
                            <option>yy-mm-dd</option>
                            <option>dd-mm-yy</option>
                            {% endif %}

                        </select>
                    </div>
                  </div>

             <div class="form-group">
                      <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="Select Prefer time zone">Time Zone</span></label>
                      <div class="col-sm-10">
                         <select name='time_zone' class='form-control'>
                             <option value="Asia/Calcutta" selected="selected">Asia/Calcutta</option>
                         </select> 


                      </div>        


             </div>

                    <div class="form-group">

                        <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="<?php echo $help_shop_opening_days?>">Shop opening days</span></label>

                       </div>

                  <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Monday</span></label>

                     <div class="col-sm-10 control-label" id="w_mon">
                        <label class="col-sm-2" >

                            <span>
                         {% if w_mon=='OPEN' %}
                                <button type="button" class="btn-primary w_mon_res" onclick="change_status('w_mon')"><div id="w_mon_res">OPEN</div></button></span></label>
                                {% else %}
                                <button type="button" class="btn-danger w_mon_res" onclick="change_status('w_mon')"><div id="w_mon_res">CLOSE</div></button></span></label>
                                {% endif %}
                    </div>
                  </div>

                  <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Tuesday</span></label>

                     <div class="col-sm-10 control-label weekHide" id="w_tue">
                        <label class="col-sm-2" >

                            <span>
                                {% if w_tue=='OPEN' %}
                                <button type="button" class="btn-primary w_tue_res" onclick="change_status('w_tue')"><div id="w_tue_res">OPEN</div></button></span></label>
                                {% else %}
                                <button type="button" class="btn-danger w_tue_res" onclick="change_status('w_tue')"><div id="w_tue_res">CLOSE</div></button></span></label>
                                {% endif %}   

                    </div>

                  </div>

                 <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Wednesday</span></label>

                    <div class="col-sm-10 control-label weekHide" id="w_wed">
                        <label class="col-sm-2" ><span>                            
                                {% if w_wed=='OPEN' %}
                                <button type="button" class="btn-primary w_wed_res" onclick="change_status('w_wed')"><div id="w_wed_res">OPEN</div></button></span></label>
                                {% else %}
                                <button type="button" class="btn-danger w_wed_res" onclick="change_status('w_wed')"><div id="w_wed_res">CLOSE</div></button></span></label>
                                {% endif %}
                    </div>
                  </div>

                 <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Thursday</span></label>

                     <div class="col-sm-10 control-label weekHide" id="w_thu">
                        <label class="col-sm-2" ><span>
                                {% if w_thu=='OPEN' %}
                                <button type="button" class="btn-primary w_thu_res" onclick="change_status('w_thu')"><div id="w_thu_res">OPEN</div></button></span></label>
                                 {% else %}
                                <button type="button" class="btn-danger w_thu_res" onclick="change_status('w_thu')"><div id="w_thu_res">CLOSE</div></button></span></label>
                                {% endif %}    
                    </div>
                  </div>

                 <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Friday</span></label>
                     <div class="col-sm-10 control-label weekHide" id="w_fri">
                        <label class="col-sm-2" ><span>
                            {% if w_fri=='OPEN' %}
                                <button type="button" class="btn-primary w_fri_res" onclick="change_status('w_fri')"><div id="w_fri_res">OPEN</div></button></span></label>
                                 {% else %}
                                <button type="button" class="btn-danger w_fri_res" onclick="change_status('w_fri')"><div id="w_fri_res">CLOSE</div></button></span></label>
                                {% endif %}    
                    </div>
                  </div>

                  <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Saturday</span></label>

                     <div class="col-sm-10 control-label weekHide" id="w_sat">
                        <label class="col-sm-2" ><span>                            {% if w_sat=='OPEN' %}
                                <button type="button" class="btn-primary w_sat_res" onclick="change_status('w_sat')"><div id="w_sat_res">OPEN</div></button></span></label>
                                 {% else %}
                                <button type="button" class="btn-danger w_sat_res" onclick="change_status('w_sat')"><div id="w_sat_res">CLOSE</div></button></span></label>
                                {% endif %}    
                    </div>
                  </div>

                 <div class="form-group control-label">
                    <label class="col-sm-2" ><span title="">Sunday</span></label>
                    <div class="col-sm-10 control-label weekHide" id="w_sun">
                        <label class="col-sm-2" ><span>
                                {% if w_sun=='OPEN' %}
                                <button type="button" class="btn-primary w_sun_res" onclick="change_status('w_sun')"><div id="w_sun_res">OPEN</div></button></span></label>
                                 {% else %}
                                <button type="button" class="btn-danger w_sun_res" onclick="change_status('w_sun')"><div id="w_sun_res">CLOSE</div></button></span></label>
                                {% endif %}    
                    </div>
                  </div>






                       <div class="form-group">

                            <label class="col-sm-2 control-label" >{{ Exclude_Time_and_Dates }}  </label>

                       </div>
                   <div class="form-group">
                       <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="">{{ From }} </span></label>
                    <div class="col-sm-10">

                        <input type="text" name="From" data-toggle="tooltip" title="{{ example_title }}" id="from" class="form-control datepickertime">
                    </div>
                  </div>    


                  <div class="form-group">
                    <label class="col-sm-2 control-label" ><span data-toggle="tooltip" data-html="true" title="">{{ To}}</span></label>
                    <div class="col-sm-10">
                        <input type="text" name="{{To}}" data-toggle="tooltip" title="{{ example_title}}" id="to" class="form-control datepickertime" >
                    </div>
                  </div>   



                   <div class="form-group">
                       <label class="col-sm-2 control-label" ></label>
                       <div class="col-sm-2">
                           <div id="error_msg_exc"><p> </p></div>
                           <div id="error_msg_exc_exists"><p>Please enter values of to date </p></div>
                           <input id="saveExceed"  type="button" name="txt" value="Add exclude times" class="form-control btn-primary">

                       </div>
                   </div> 

                       <div class="row">
                           <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div id="Saved"></div>
                            </div>





                </div>

                </div>
            </div>
            <div class="tab-pane" id="tab-store">
                
                
                <div class="form-group">
                   <label class="col-sm-2 control-label" ></label>
                   <div class="col-sm-10">
                       <div id="error_msg_exc"><p> </p></div>
                       <div id="error_msg_exc_exists"><p>ALL SLOTS </p></div>
                       
                       <h3 class="">Click to change value of Maximum Order</h3>
                  <table id="myTable" class= "table table-striped table-bordered table-hover">  
        <thead>  
          <tr>  
            <th colspan="1" rowspan="1" style="width: 265px;" tabindex="0">Slots</th>  
            <th colspan="1" rowspan="1" style="width: 180px;" tabindex="0">Maximum Order</th>
            <th colspan="1" rowspan="1" style="width: 180px;" tabindex="0">Total Order</th>
            <th colspan="1" rowspan="1" style="width: 180px;" tabindex="0">Status</th>
          </tr>  
        </thead>  
        <tbody>  
      
            {% if generated_slots %}
           
           {% for result in  generated_slots.rows %}
                {% set slot_id = result.one_slot_id  %}
 
                <tr>    
                 <td><b> {{ result. slot_timing}}</b></td>
         <td id="Max_{{ slot_id }}"><b><a style="cursor: pointer;" onclick="edit( {{ slot_id }})">{{ result.max_no }}</a></b></td>
                
                <td><b>{{ result.count }}</b></td>
                
                <td>
                 {% if result.Status =='ENABLE' %}
                 <button type="button" id="Status_{{ slot_id }}" class="btn-primary" onclick="change_status_single_slot('{{result.Status}}','{{slot_id}}')">ENABLED</button>
                
                {% else %}
                
                 <button type="button" id="Status_{{slot_id}}" class="btn-danger" onclick="change_status_single_slot('{{result.Status}}','{{slot_id}}')">DISABLED</button>
                                                
                {% endif %}
                
                </td>
                </tr>
                {% endfor %}
 
            {% endif %}
      
           
         
        </tbody>  
      </table>  
                   </div>
               </div> 
         
         
                
             
            </div>
          
          
        </form>
      </div>
    </div>
  </div>
  <style>

#genrate_btn{
margin-top: 22px;
float:right;
margin-right: 201px;
}
#error_msg_exc_exists{

display: none;
width: 154%;
font-weight: bold;
color: red;
margin-bottom: 22px;
}

div#tab-general {
    margin-top: 60px;
}
div#myTable_wrapper {
    margin-top: 52px;
    float: right;
    width: 100%;
    margin-right: 200px;
}
li.list {
    list-style: none;
    display: -webkit-inline-box;
    margin-left: 10px;
}

</style>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">



<!-- Updated stylesheet url --> 
<link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">




<!-- Updated JavaScript url --> 
<script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script> 


<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<link href="view/stylesheet/bootstrap-editable.css" rel="stylesheet">
<script src="view/javascript/bootstrap-editable.min.js"></script>



<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
          <script type="text/javascript">
              
              
              
             
        //var str = "Visit Microsoft!";
        //var res = str.replace("Microsoft", "W3Schools");
        
        function edit(id){
        
        
          $('#Max_'+id).editable({
                           type:  'number',
                           pk:    id,
                           name:  'max',
                           url: 'index.php?route=extension/module/timeslot/changeTable&user_token=<?php echo $user_token; ?>&template=' + encodeURIComponent(this.value),  
                           title: 'ChangeMaximum Number'
                        });
       
      

        
        
        
        
        
        
        
        
        }
        
        
         function change_status_single_slot(status,id){
           
  
          $.ajax({
            url: 'index.php?route=extension/module/timeslot/SingleSlotchangeStatus&user_token={{user_token}}',
            type: 'POST',
            data: { 'status':status,'id':id },
            dataType: 'html',
            success: function (result) {
             
             var sp = result.split("_");
             
             var st = sp[0];
             
             var st_id = sp[1];
             
             if(st=='ENABLE'){
             
                 $("#Status_"+st_id).removeClass( "btn-danger" );
                 $("#Status_"+st_id).addClass( "btn-primary" );
                 $("#Status_"+st_id).html('ENABLED');
                 $("#Status_"+st_id).attr('onClick','change_status_single_slot("ENABLE",'+st_id+')');
             
             }else{
             
                 $("#Status_"+st_id).removeClass( "btn-primary" );
                 $("#Status_"+st_id).addClass( "btn-danger" );
                 $("#Status_"+st_id).html('DISABLED');
                 $("#Status_"+st_id).attr('onClick','change_status_single_slot("DISABLE",'+st_id+')');
              }
  
              
          
           }
         });
         
    
    }
        
        
        
       var time_format = '<?php echo $time_format;?>'; 
        
        
       var time_format_new = 'YYYY-MM-DD'; 
        //alert(time_format);
        
        if(time_format=="12 ( AM/PM and O clock )"){
            
            time_format = 'YYYY-MM-DD HH:00:00';
    
        }else{
        
            time_format = 'YYYY-MM-DD HH:00:00';
    
        }
        
        var dateToday = new Date(); 
        $('.datepickertime').datetimepicker({
         format: time_format,
         minDate: dateToday,
        
    });   
    
    
      $('.datepickertime1').datetimepicker({
         format: time_format_new,
         minDate: dateToday,
        
    });   
    
        
        // $('.datepicker').datetimepicker({
  //       format: time_format_new,
        
         // minDate: dateToday,
        
   // });  
        
        
        
        $("#error_msg_exc").css("display","none");
        $('.timepicker1').timepicker({ 'timeFormat': 'H:i:s' , 'step': '60' });
        
   
    
   

        
        
        $("#error_msg_exc").css("display","none");
        $("#SaveConf").click(function () {
          
        var start  =  $("#start_time").val();
        var end  =  $("#end_time").val();  
        
        var rangeFrom   =  $("#date_range_from").val();
        var rangeTo   =  $("#date_range_to").val(); 
        
        
        
        if(CompareDates(rangeFrom,rangeTo,'-') == 0) {
       // alert('Selected date must be current date or previous date!');
       //return false;
        }


    
        
        var arrayOfStringsStart = start.split(":");
        var arrayOfStringsEnd = end.split(":");
        
        if(arrayOfStringsStart[0]<arrayOfStringsEnd[0]){
        
            $("#confd").submit();
        
        }else{
        
        alert("Please choose different start time and end time");
        }
        
        });
        
        
        
         $("#saveExceed").click(function () {
             
             
           var to  =  $("#to").val();
           var from  =  $("#from").val();  
           
            var date_range_to  =  $("#date_range_to").val();
           var date_range_from  =  $("#date_range_from").val();  
           
           
           if(to==""){
               
               $("#to").css("border-color","red");
               
               return false;
            }else{
                
                $("#to").css("border-color","rgb(204, 204, 204)");
        
                } 
            
        
            
            if(from=="")
            {
                $("#from").css("border-color","red");
                alert("Please enter values of from date");
                return false;
            }else{
            
                $("#from").css("border-color","rgb(204, 204, 204)");
             }
           
           
          
           
            $.ajax({
            url: 'index.php?route=extension/module/timeslot/addExceed&user_token={{user_token}}&template=' + encodeURIComponent(this.value),
            type: 'POST',
            data: { 'to':to , 'from' : from , 'rangeFrom' : date_range_from , 'rangeTo' : date_range_to},
            dataType: 'html',
            success: function (data) {
                
               alert(data);
            if(data==2)
            {
                $("#error_msg_exc_exists").css("display","block");
              // alert("This date is past please select other date");
              $("#error_msg_exc_exists").html("This date is past please select other date");
              
               return false;
            } else{   
             
            if(data==1){
             $("#error_msg_exc_exists").css("display","none"); 
            $("#error_msg_exc").css("display","none");
            $.ajax({
            url: 'index.php?route=extension/module/timeslot/showExceed&user_token={{user_token}}&template=' + encodeURIComponent(this.value),
            type: 'POST',
            data: { 'to':to , 'from' : from },
            dataType: 'html',
            beforeSend: function() {
			$('#saveExceed').css("background-color","grey");
                        $('#saveExceed').css("cursor","not-allowed");
		},
            
            success: function (result) {
             $("#error_msg_exc_exists").css("display","none");     
            $('#saveExceed').css("cursor","pointer");    
            $('#saveExceed').css("background-color","#337ab7");    
            $("#Saved").html(result);
                }
            }); 
            $("#Saved").css("display", "block");
                }else {
                $("#error_msg_exc_exists").css("display","none"); 
                $("#error_msg_exc").css("display","block");
                $("#error_msg_exc").html("Slot already exists");
                $("#error_msg_exc").css("color","red");
                $("#error_msg_exc").css("font-weight","bold");
                 $("#error_msg_exc").css("margin-bottom","22px");
                }
            }  
         }
        }); 
    
         
        });
        
        
    function move(id){
    
         var ok = confirm("Are you sure to Delete?");
         if(ok==true){
         
          $.ajax({
            url: 'index.php?route=extension/module/timeslot/DeleteExceed&user_token=<?php echo $user_token; ?>&template=' + encodeURIComponent(this.value),
            type: 'POST',
            data: { 'id':id },
            dataType: 'html',
            success: function (result) {
            $("#Saved").html(result);
                }
            }); 
        
        }
    
    
    }
    
    
    
     $(document).ready(function() {
        
        $.ajax({
            url: 'index.php?route=extension/module/timeslot/showExceed&user_token={{user_token}}',
            type: 'POST',
            dataType: 'html',
            success: function (result) {
            
           $("#Saved").html(result);
                }
            });
        
        
    });
    

    
    //$(function () {
    //    $("[data-toggle=\'tooltip\']").tooltip();
    //});

    
    
    function change_status(day){
        
         $.ajax({
            url: 'index.php?route=extension/module/timeslot/WeeklychangeStatus&user_token={{ user_token }}',
            type: 'POST',
            data: { 'day':day },
            dataType: 'html',
            success: function (result) {
             var sp = result.split("_");
            $("#w_"+sp[1]+"_"+sp[2]).html(sp[3]);
            $(".w_"+sp[1]+"_"+sp[2]).removeClass( " btn-danger" );
            //$(".w_"+sp[1]+"_"+sp[2]).removeClass( " btn-primary" );
            $(".w_"+sp[1]+"_"+sp[2]).addClass( sp[4] );
          
                }
            });
    
    }
    
    
    
    
    </script>
    
</div>
{{ footer }}